* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
  cursor: pointer;
}

button:focus {
  outline: none;
  cursor: pointer;
}

button:active {
  outline: none;
  cursor: pointer;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

.navbar__logo {
  display: block;
  width: 100%;
}

.navbar-time {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}

.navbar-time__clock {
  display: block;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 20.7px;
  color: #7465ab;
}

.navbar-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar-socials__vk {
  width: 40px;
  height: 40px;
  color: white;
  background-color: #a24eb2;
  border-radius: 20px;
  border-color: transparent;
  font-size: 16px;
}

.navbar-socials__facebook {
  width: 40px;
  height: 40px;
  color: white;
  background-color: #6e8be8;
  border-radius: 20px;
  border-color: transparent;
  font-size: 16px;
}

.navbar-socials__instagram {
  width: 40px;
  height: 40px;
  color: white;
  background-color: #279b9f;
  border-radius: 20px;
  border-color: transparent;
  font-size: 16px;
}

.navbar-metro {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Roboto';
  font-weight: 300;
  line-height: 24px;
}

.navbar-metro__block-1, .navbar-metro__block-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 70px;
}

.navbar-metro__icon {
  margin-right: 10px;
}

.navbar-metro__red {
  color: #d42029;
  font-weight: 700;
  text-decoration: none;
}

.navbar-metro__blue {
  color: #1b4291;
  font-weight: 700;
  text-decoration: none;
}

.navbar-contact {
  text-align: right;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 13px;
  line-height: 25px;
}

.navbar-contact__questions {
  font-size: 12px;
  font-weight: 300;
}

.navbar-contact__number {
  display: block;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  line-height: 25px;
}

.navbar-contact__modal {
  font-size: 13px;
  color: #25c7db;
  font-family: 'Roboto';
  font-weight: 700;
}

@media (max-width: 1199px) {
  .navbar-metro__block-1, .navbar-metro__block-2 {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
  }
}

@media (max-width: 991px) {
  .navbar-metro {
    margin-top: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-metro__block-1, .navbar-metro__block-2 {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }
  .navbar-socials {
    margin-top: 10px;
  }
  .navbar-time {
    font-size: 10px;
    line-height: 20px;
  }
  .navbar-time__clock {
    font-size: 18px;
  }
  .navbar-contact__questions {
    font-size: 10px;
  }
  .navbar-contact__number {
    font-size: 15px;
    line-height: 20px;
  }
  .navbar-metro {
    font-size: 11px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-metro__block-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar-metro__block-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar-socials__vk, .navbar-socials__facebook, .navbar-socials__instagram {
    height: 35px;
    width: 35px;
    font-size: 13px;
  }
}

@media (max-width: 991px) and (min-width: 320px) and (max-width: 575px) {
  .navbar-time {
    margin-top: 10px;
  }
  .navbar-contact {
    text-align: center;
    margin-top: 10px;
  }
  .navbar-metro {
    display: block;
  }
  .navbar-metro__block-1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-metro__block-2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-socials {
    margin-top: -10px;
  }
  .navbar-socials__vk, .navbar-socials__facebook, .navbar-socials__instagram {
    height: 27px;
    width: 27px;
    font-size: 11px;
  }
}
/*# sourceMappingURL=style.css.map */